*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: lightseagreen;
}
.base{
    width: 380px;
height: 272px;
   background-color: #c89666;
}
.emoji{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}
.closed{
    display: none;
}
.open{
    display: none;
}
.active{
    display: flex;
justify-content: center;
text-align: center;
}
